{% extends 'base.html' %}

{% block content %}
<div class="page-content">
    <section class="about">
        <h2>What is Brain Bee?</h2>
        <p1>
            Our Central Florida Brain Bee is a regional neuroscience competition that serves high schoolers in the Central Florida area to compete and progress to nationals. 
            In addition to this competition, we prepare high schoolers in the area by traveling to them and teaching them the material they need to know for the event for no price. 
            Our goal in teaching them and this event is to establish that neuroscience is a subject that should be accessible to everyone. Thus, we also fund their flight ticket to the national championship.
        </p1>
    </section>
</div>
{% endblock %}