{% extends 'base.html' %}

{% block content %}
<div class="page-content">
    <section class="about">
        <h1>How can I become a member?</h1>
        <p1>
            <li>Membership Dues are $35 for the academic year (Fall '23-Spring '24) or are $20 for an individual semester.</li>
            <li>Membership payments can be made through Venmo, @neuroscienceallianceucf.</li> 
            <li>Please be sure to indicate your Name and T-shirt size in the payment description.</li>
            <li>We also accept cash directed to our Executive Board.</li>
        </p1>
    </section>

    <section class="about">
        <h1>How can I reach Active Member Status?</h1>
        <p1>
            Active Member Criteria include being a Dues Paying Member, attending 2+ GBMs of the current semester, and completing 5+ volunteer hours. 
            The perks of being an active member include access to special events, graduation cords, and discounted merchandise! 
        </p1>
    </section>
</div>
{% endblock %}